/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts & Colors */
body {
    font-family: 'Poppins', sans-serif;
    background: #74c9fafd;
    color: rgb(147, 176, 255);
/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #110070;
    box-shadow: 0px 4px 8px rgba(111, 102, 238, 0.952);
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #66FCF1;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(100, 137, 240);
    position: relative;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #66FCF1;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #66FCF1;
}

/* Explore Section */
.explore-section {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(aquamarine blue green);
}

.explore-section h1 {
    font-size: 48px;
    color: #025853;
    margin-bottom: 20px;
}

.explore-section li {
    font-size: 20px;
    color: #b6b9eb;
    margin-bottom: 40px;
}

/* Cards Container */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

/* Card */
.card {
    background: #02162e;
    border-radius: 12px;
    padding: 30px;
    width: 40000px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color:
